---
layout: main
title: Home
---

<div class="text-center main-header">
    <h1 class="display-20 display-md-18 display-lg-16">
        Welcome to my website
    </h1>
</div>
<section>
    <div class="row">
        {% for post in paginator.posts %}
        <div class="col-lg-4 col-md-6 mb-2-6">
            <article class="card card-style2">
                <div class="card-img">
                    <div class="fill hoverwrap">
                        <a class="image-wrapper image-zoom cboxElement" href="{{post.url}}">
                            <img src="{{post.img}}" class="rounded-top" alt="Photo of Blog">
                        </a>
                        <div class="hovercap">{{ post.title }}</div>
                    </div>
                    <div class="date"><span>{{ post.date | date: "%b" }}</span>{{ post.date | date: "%Y" }}</div>
                </div>
                <div class="card-body">
                    <h3 class="h4"><a href="{{post.url}}" title="{{ post.title }}">{{post.title | strip_html | truncate: 35}}</a></h3>
                    <p class="display-30">{{ post.brief | strip_html | truncatewords: 20 }}</p>
                    <a href="{{post.url}}" class="btn"><i class="fa fa-angle-double-right"></i> Read more</a>
                </div>
                <div class="card-footer">
                    <ul>
                        <li><i class="fa fa-user-circle-o"></i> {{ post.author }}</li>
                        <li><i class="fa fa-tags"></i> <span class="category"> {{ post.categories.first }} </span> </li>
                    </ul>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</section>

{% if paginator.total_pages > 1 %}
    <nav aria-label="Page navigation" id="PageNav">
        <ul class="pagination justify-content-center">
            {% if paginator.previous_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1">Previous</a>
                </li>
            {% endif %}
            {% for pageNum in (1..paginator.total_pages) %}
                {% if pageNum == paginator.page %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ pageNum }}
                        </span>
                    </li>
                {% else %}
                    {% if pageNum == 1 %}
                        <li class="page-item"><a class="page-link" href="/">{{ pageNum }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', pageNum }}">{{ pageNum }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
                <li class="page-item">
                        <a class="page-link" page-link href="{{ paginator.next_page_path | relative_url }}">Next</a>
                </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" page-link href="{{ paginator.next_page_path | relative_url }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

    