@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #eee;
} 

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

highlighter-rouge {
    border-radius: 1rem;
}

blockquote p {
    border: 2px dashed;
    border-color: rgba(0, 0, 0, 0.3);
    background: #eee;
    border-radius: 1rem;
    padding: 10px 20px 10px 20px;
}

blockquote {
    margin: auto  !important;
    width: 90%;
}

strong {
    font-weight: bold;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #14213D;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

body img {
    max-width: 100%;
    max-height: 720px;
}

.img-light-bg {
    background-color: rgba(255,255,255, 0.9); 
    padding: 10px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.3);
    margin: 40px 0;
}

#sidebarCollapse {
    background-color: #ffab00;
    color: #14213D;
    border: none;
    border-radius: 0.25rem;
}

.category {
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 0.25rem;
    margin: 2px;
    color: black;
    background: #ffab00;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.rss-button {
    padding: 5px;
    font-size: 36px;
}

.rss-button:hover {
    color: #ffab00;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #14213d;
    color: #eee;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffab00;
    color: #14213D;
}

#sidebar ul.components {
    border-bottom: 1px solid #ffab00;
}

#sidebar ul p {
    color: #eee;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar-item:hover {
    color: #ffab00;
    background: #000;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #000000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 0.25rem;
    margin-bottom: 5px;
}

.sidebar-btn {
    background: #ffab00;
    color: #000;
    border-radius: 0.25rem;
}

.sidebar-btn:hover {
    background: #000;
    color: #ffab00;
}

nav li a:hover {
    color: #ffab00 !important;
}

.info-span {
    color: #000;
    background: #fff;
    border: 0;
}

nav button {
    color: #000 !important;
    background: #ffab00 !important;
    border: 0 !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 40px;
    width: calc(100% - 250px);
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s;
    height: 100%;
    background: url("/assets/hero2.jpg") center no-repeat;
    background-size: cover;
    background-color: #1b1b1b;
    color: #eee;
}

.row {
    overflow-x: hidden !important;
}

#content .post-content {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
}

#content article table {
    margin: auto;
    overflow-y: scroll;
}

#content article table td,
th {
    border: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
}

#content article table tr:hover {
    color: #ffab00;
}

#content article table thead tr:hover {
    color: #000;
}

#content.active {
    width: 100%;
}


#navbarLinks {
    display: none;
}

#brand {
    display: none;
    color: #ffab00;
}


p code {
    color: #333 !important;
    background: rgba(0,0,0,0.1) !important;
    margin: 0 !important;
    padding: 0 5px 0 5px !important;
}

.container a {
    color: #ffab00;
}

.container a:hover {
    color: #000;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1200px) {
    #sidebar {
        margin-left: -250px;
        display: none;
    }

    #footer {
        margin-left: -250px;
        display: none;
    }

    #footer .active {
        margin-left: -250px;
        display: none;
    }

    #content {
        width: 100%;
        padding: 0;
    }

    #content.active {
        width: 100%;
    }
    #sidebarCollapse {
        display: none;
    }
    .container {
        max-width: 100%;
    }
    nav {
        border-radius: 0 !important;
    }
    #navbarLinks {
        display: flex;
    }
    #brand {
        display: flex;
    }
}

.image-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
}

.about-me-img {
    width: 80%;
    height: 80%;
}

.first-block p {
    max-height: 3ch;
}

.main-header {
    padding: 10px;
    margin-bottom: 20px;
}

.main-header h1 {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------
    BLOG STYLES
----------------------------------------------------- */

section .btn {
    background: #ffab00;
    color: #000;
}

section .btn:hover {
    background: #000;
    color: #ffab00;
}

.hoverwrap {
  position: relative; 
  max-width: 500px;
}

.hoverwrap img { width: 100%; }

.hovercap {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
 
  position: absolute;
  bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}


.hovercap {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}
.hoverwrap:hover .hovercap {
  visibility: visible; opacity: 1;
}

/* ---------------------------------------------------
    CARD STYLES
----------------------------------------------------- */

.card-style2 {
    background: rgba(0,0,0, 0.8) !important;
    border: 0;
}

.card {
    background: rgba(0,0,0, 0.8) !important;
    border: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    border-color: rgba(255, 255, 255, 0.30) !important;
    color: #eee;
}

.card-style2 .card-img {
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    margin: 0;
}

.fill {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    flex-shrink: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%
}

.card-body p {
    height: 15ch;
    overflow: hidden;
}

.card-body h3 {
    height: 4ch;
    overflow: hidden;
}

.card-style2 .card-img img {
    transition: all 0.3s linear 0s;
}

.card-style2:hover .card-img img {
    transform: scale(1.05);
}

.card-style2 .date {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    color: #ffab00;
    overflow: hidden;
    padding-bottom: 10px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    background-color: #000;
    text-transform: uppercase;
    border-radius: 0.25rem;
    min-width: 6ch;
}

.card-style2 .date span {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ffab00;
    color: #000;
    border-radius: 0.25rem;
}

.card-style2 .card-body {
    position: relative;
    display: block;
    padding: 2rem;
}

.card-style2 .card-body h3 {
    margin-bottom: 0.8rem;
}

.card-style2 .card-body h3 a:hover {
    color: #ffab00;
}

.card-style2 .card-footer {
    background: inherit;
    color: inherit;
    border-top: 2px dashed rgba(255, 255, 255, 0.40);
    background: inherit;
    padding-right: 2rem;
    padding-left: 2rem;
    -ms-flex-align: end;
    align-items: flex-end;
}

.card-style2 .card-footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.card-style2 .card-footer ul li {
    font-size: 15px;
    padding: 5px;
}

.card-style2 .card-footer ul li i {
    font-size: 14px;
    margin-right: 8px;
}

.card-style2 {
    margin-bottom: 25px;
}

.card-body h3 a {
    color: #000;
}

.card-body h3 a {
    color: #eee;
}

.card img {
    border: 0;
}
.card ul li {
    background: rgba(0,0,0, 0.8);
}
.card h6 {
    color: #ffab00;
}

/* ---------------------------------------------------
    PAGINATOR STYLES
----------------------------------------------------- */

#PageNav ul {
    margin: 0;
}

#PageNav {
    padding: 10px;
}

#PageNav ul li a {
    background: #ffab00;
    color: #000;
    border-color: #000;
}

#PageNav ul li a:hover{
        background: #000;
}

#PageNav .active span {
    background: #1b1b1b !important;
    border-color: #1b1b1b;
}

.line {
    border-color: rgba(255, 255, 255, 0.3);
}
.info-span {
    color: inherit;
    background: inherit;
    border: 0;
}
#content article table td,
th {
    border: 1px solid #eee;
}
#content article table th {
    color: #ffab00;
}
.main-header {
    border-color: rgba(255,255,255,0.3);
}
p code {
    color: #eee !important;
    background: rgba(255,255,255,0.3) !important;
}

blockquote p {
    border-color: rgba(255, 255, 255, 0.3);
    background: #222;
}

.container a:hover {
    color: #eee;
}

button {
    background: #ffab00 !important;
    color: #000 !important;
}

/*--------------------------------------------------------------
    SCROLL BARS
--------------------------------------------------------------*/

 /* width */
::-webkit-scrollbar {
width: 4px;
height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: #14213D;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ffab00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ffab00;
} 

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 15%;
    height: 50vh;
    background-size: cover;
    position: relative;
    text-align: center;
}

#hero p {
    font-size: 32px;
}

#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
}

#hero p {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    letter-spacing: 1px;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (max-width: 1200px) {
    #sidebar {
        margin-left: -250px;
        display: none;
    }
    #content {
        width: 100%;
        padding: 0;
    }

    #content .post-content{
        padding: 0;
    }

    #content.active {
        width: 100%;
    }
    #sidebarCollapse {
        display: none;
    }
    .container {
        max-width: 100%;
    }
    nav {
        border-radius: 0 !important;
    }
    #navbarLinks {
        display: flex;
    }
    #brand {
        display: flex;
    }

    #hero {
      text-align: center;
      margin-top: 10%;
    }
  
    #hero h1 {
      font-size: 32px;
      line-height: 36px;
    }
  
    #hero p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 9999;
    transition: all 0.3s;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
}

#footer.active {
    margin-left: -250px;
}
